.navbar-custom {
    background-color: saddlebrown;
    padding-top: 30px;
    
}

.navbar-brand {
    font-size: 36px;
    margin-left: 50px;
    margin-right: 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: beige;
    transition: color 0.3s;
    margin-bottom: 10px;
    
}

.navbar-brand:hover {
    color: black; /* 鼠標懸停時的文字顏色 */
}
.search-bar {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    max-width: 400px; /* 限制搜尋欄最大寬度 */
    width: 100%;
}

.form-control {
    width: 200px; /* 搜尋框固定寬度 */
}
.btn{
    background-color: rgb(255, 251, 240);
    color: black;
    
}

.custom-width {
    width: 400px; /* 自定義寬度 */
}

.carousel-item img {
    height: 600px; /* 固定幻燈片高度 */
    object-fit: cover; /* 確保圖片填滿而不變形 */
}
#carousel{
    margin-left: 100px;
    margin-right: 100px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* 黑色半透明背景 */
    padding: 20px;
    border-radius: 10px;
}
.nav-link{
    text-decoration: none; /* 移除下劃線 */
    color: black; /* 設置文字顏色 */
    padding: 5px 10px;
    display: inline-block;
    background-color: transparent; /* 確保背景透明 */
    transition: none; /* 禁止過渡效果 */
    border: 2px solid transparent; /* 默認無外框 */
    transition: border-color 0.3s; /* 增加過渡效果 */
}
.nav-link:focus,
.nav-link:active {
    color: black; /* 保持文字顏色不變 */
    background-color: transparent; /* 移除背景色 */
    outline: none; /* 移除默認點擊框 */
    border: 2px solid black; /* 顯示外框 */
}
.menu{
    
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    margin-top: 20px; /* 與其他內容保持距離 */
}
#mainNav{
    margin-bottom: 20px;
}
a img {
    border: 2px solid transparent;
    border-radius: 8px;
    transition: transform 0.3s, border-color 0.3s;
}
a img:hover {
    transform: scale(1.05);
    border-color: #000000;
}
.footer{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}
@media screen and  (max-width: 900px){
    #carousel{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    #carousel {
        margin-left: 1px;
        margin-right: 10px;
    }
}
.filter {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #category {
    padding: 5px;
    font-size: 16px;
  }
  .text-center {
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}
.nav p{
    margin-bottom: 0;
    margin-top: 8px;
}