.navbar-custom {
    background-color: saddlebrown;
    padding-top: 30px;
    
}

.navbar-brand {
    font-size: 36px;
    margin-left: 50px;
    margin-right: 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: beige;
    transition: color 0.3s;
    margin-bottom: 10px;
    
}

.navbar-brand:hover {
    color: black; /* 鼠標懸停時的文字顏色 */
}
.search-bar {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    max-width: 600px; /* 限制搜尋欄最大寬度 */
    width: 100%;
    
}

.d-flex{
    width: 600px;
}
.form-control {
    width: 600px; /* 搜尋框固定寬度 */
}
.btn{
    background-color: rgb(255, 251, 240);
    color: black;
    
}



.carousel-item img {
    height: 600px; /* 固定幻燈片高度 */
    object-fit: cover; /* 確保圖片填滿而不變形 */
    padding-left:30px ;
    padding-right: 30px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* 黑色半透明背景 */
    padding: 20px;
    border-radius: 10px;
}
.nav-link{
    text-decoration: none; /* 移除下劃線 */
    color: black; /* 設置文字顏色 */
    padding: 5px 10px;
    display: inline-block;
    background-color: transparent; /* 確保背景透明 */
    transition: none; /* 禁止過渡效果 */
    border: 2px solid transparent; /* 默認無外框 */
    transition: border-color 0.3s; /* 增加過渡效果 */
}
.nav-link:focus,
.nav-link:active {
    color: black; /* 保持文字顏色不變 */
    background-color: transparent; /* 移除背景色 */
    outline: none; /* 移除默認點擊框 */
    border: 2px solid black; /* 顯示外框 */
}
.menu{
    
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    margin-top: 20px; /* 與其他內容保持距離 */
}
#mainNav{
    margin-bottom: 20px;
}
a img {
    border: 2px solid transparent;
    border-radius: 8px;
    transition: transform 0.3s, border-color 0.3s;
}
a img:hover {
    transform: scale(1.05);
    border-color: #007bff;
}
.footer{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}
/* 搜尋按鈕樣式 */
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
}

/* 動態搜尋框初始隱藏 */
#dynamic-search-box {
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 150px; /* 將位置調整到導航列下方 */
    left: 0;
    width: 100%; /* 使用百分比設置寬度 */
    
    z-index: 1050;
}

/* 在小螢幕時隱藏原本搜尋框，只顯示搜尋圖示 */
@media (max-width: 768px) {
    .search-container {
        display: block;
    }

    .search-box {
        display: none;
    }
    .navbar-brand {
        font-size: 1.2rem; /* 小螢幕縮小字體 */
    }
}

/* 大螢幕時始終顯示原本搜尋框 */
@media (min-width: 769px) {
    #dynamic-search-box {
        display: none !important;
    }
    .navbar-brand {
        font-size: 1.5rem; /* 預設字體大小 */
    }
}
