body {
	margin: 0 auto;
	width: 800px;
	padding: 0;
	font: caption;
}

.header {
	background-image: url('../images/banner.jpeg');
	background-size: cover;
	background-position-y: center;
	filter: grayscale(100%);
	color: white;
	padding: 8px;
	height: 100px;
}

.header h1,
.header p {
	margin: 5px 0 0 10px;
}

.nav {
	background: linear-gradient(to top, #000000, #8d8d8d);
	color: white;
	/* Text color */
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 5px 0;
}


.nav a {
	color: inherit;
	display: block;
	font-size: 1em;
	padding: 10px;
	text-decoration: none;
	margin: 0 30px;
}

#home {
	background: linear-gradient(to bottom, #000000, #8d8d8d);
	text-decoration: underline;
}

.container {
	display: flex;
	margin: 0 0 0 5px;
}

.sidebar {
	width: 25%;
	padding: 5px;
	margin: 0 10px 0 0;
}

.sidebar h4 {
	background: linear-gradient(to top, #000000, #d2d2d2);
	color: white;
	padding: 5px 0 0 15px;
	margin: 0;
	height: 30px;
	border-radius: 18px;
	border-style: inset;
	border-width: 7px;
}

.sidebar form {
	margin: 10px 0 0 10px;
	height: 200px;
}


.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 10px;
}


.news-container {
	padding: 10px 0;
}

.news-date {
	font-weight: bold;
}

.news-content {
	text-decoration: underline;
}

.content {
	width: 75%;
}

.content ul {
	list-style: none;
	padding: 0;
}


.content-comment {
	text-align: end;
}

.content a {
	text-decoration: none;
}

#footer {
	height: 70px;
	background: linear-gradient(to bottom, #000000, #8d8d8d);
	text-align: center;
	color: #ffffff;
	padding: 0 0 15px 0;
	margin: 20px 0 0 0;
}
.White{
	color: #ffffff;
}
#header{
	background-image: url('../images/text.jpg');
	background-size: cover;
	background-position-y: center;
	filter: grayscale(100%);	
	padding: 8px;
	height: 100px;
	
}
#header h1{
	margin-top: 8px;
	margin-bottom: 8px;
}
#header h2{
	margin-top: 0px;
}
#menu{
	width: 680;
	height: 40px;
	background: linear-gradient(#ddd,#333,#000);	
	list-style: none;	
	padding-top: 10px;
	padding-right: 15px;
	margin-top: 5px;
}
#menu hl{		
	display: flex;	
	justify-content: space-between;
	
	
}
#menu a{
	color: #ddd;	
	list-style: none;
}
#middle form{
	margin-left: 10px;
	
	
}
#middle h3{
	background: linear-gradient(#ddd,#666,#333,#000);
	color: #ddd;
	width: 160px;
	height: 35px;
	display: flex;
	align-items: center;
}
.middle rightside{
	float: right;
}
