body {
	margin: 0 auto;
	width: 800px;
	padding: 0;
	font: caption;
}

.header {
	background-image: url('../images/banner.jpeg');
	background-size: cover;
	background-position-y: center;
	filter: grayscale(100%);
	color: white;
	padding: 8px;
	height: 100px;
}

.header h1,
.header p {
	margin: 5px 0 0 10px;
}

.nav {
	background: linear-gradient(to top, #000000, #8d8d8d);
	color: white;
	/* Text color */
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 5px 0;
}


.nav a {
	color: inherit;
	display: block;
	font-size: 1em;
	padding: 10px;
	text-decoration: none;
	margin: 0 30px;
}

#home {
	background: linear-gradient(to bottom, #000000, #8d8d8d);
	text-decoration: underline;
}

.container {
	display: flex;
	margin: 0 0 0 5px;
}

.sidebar {
	width: 25%;
	padding: 5px;
	margin: 0 10px 0 0;
}

.sidebar h4 {
	background: linear-gradient(to top, #000000, #d2d2d2);
	color: white;
	padding: 5px 0 0 15px;
	margin: 0;
	height: 30px;
	border-radius: 18px;
	border-style: inset;
	border-width: 7px;
}

.sidebar form {
	margin: 10px 0 0 10px;
	height: 200px;
}


.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 10px;
}


.news-container {
	padding: 10px 0;
}

.news-date {
	font-weight: bold;
}

.news-content {
	text-decoration: underline;
}

.content {
	width: 75%;
}

.content ul {
	list-style: none;
	padding: 0;
}


.content-comment {
	text-align: end;
}

.content a {
	text-decoration: none;
}

#footes{
	height: 70px;
	background: linear-gradient(to bottom, #000000, #8d8d8d);
	text-align: center;
	color: #ffffff;
	padding: 0 0 15px 0;
	margin: 20px 0 0 0;
}
.White{
	color: #ffffff;
}
#header{
	background-image: url('../images/text.jpg');
	background-size: cover;
	background-position-y: center;
	filter: grayscale(100%);	
	padding: 8px;
	height: 100px;
	
}
#header h1{
	margin-top: 8px;
	margin-bottom: 8px;
}
#header h2{
	margin-top: 0px;
}
#menu{
	width: 745px;
	height: 40px;
	background: linear-gradient(#ddd,#333,#000);	
	list-style: none;	
	padding-top: 10px;
	padding-right: 15px;
	margin-top: 5px;
}
#menu hl{		
	display: flex;	
	justify-content: space-between;
	
	
}
#menu a{
	color: #ddd;	
	list-style: none;
}
#menu a:hover{
	color:white;
	background:linear-gradient(#000,#666);
}
#content{
	width:800px;
	background-color:#fff;
}
#leftside{
	float:left;
	width:200px;
	padding-left:10px;
}
	#leftside h2 {
		padding: 3px;
		background: linear-gradient(rgb(13,13,13),rgb(123,121,121))padding-box,
		linear-gradient(to right, rgb(129, 129, 130), rgb(27, 27, 28)) border-box;
		border-radius:20em;
		border:4px solid transparent;
	}
	#rightside{
		float:left;
		width:560px;
		margin-left:30px;
	}
#footer{
	clear:both;
	width:800px;
	background:linear-gradient(#666,#000);
	color:#fff;
	text-align:center;
	padding-top:10px;
}
