<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品詳情</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Theme CSS -->
    <link href="css/Final.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">

            <a class="navbar-brand" href="index.html">超無用商品雜貨店</a>

            <div class="search-bar">
                <form class="d-flex">
                    <input class="form-control me-2 custom-width" type="text" placeholder="Search" v-model="searchQuery"
                        @input="filterBySearch">
                </form>
            </div>

            <!-- 側邊欄 -->
            <div class="offcanvas offcanvas-end offcanvas-sm" id="demo">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title">導覽</h1>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>

                </div>
                <div class="offcanvas-body">
                    <p>Some text lorem ipsum.</p>
                    <p>Some text lorem ipsum.</p>
                    <button class="btn btn-secondary" type="button">A Button</button>
                </div>
            </div>

            <!-- 側邊欄按鈕 -->
            <div class="slidebutton">
                <button class="btn  custom-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>

    </nav>

    <!--shop-->
    <section id="shop" class="shop">
        <!--menu-->
        <div class="menu">
            <ul class="nav">
                <p>熱門分類</p>
                <li v-for="category in popularCategories" :key="category" class="nav-item">
                    <a class="nav-link" href="#" @click.prevent="filterByCategory(category)"
                        :class="{ active: selectedCategory === category }">
                        {{ category }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="filter">
            <label for="category">選擇分類：</label>
            <select id="category" v-model="selectedCategory">
                <option value="">全部</option>
                <option value="分類一">分類一</option>
                <option value="分類二">分類二</option>
                <option value="分類三">分類三</option>
                <option value="分類四">分類四</option>
                <option value="分類五">分類五</option>
                <option value="分類六">分類六</option>
                <option value="分類七">分類七</option>
                <option value="分類八">分類八</option>
            </select>
        </div>


    </section>
    <div id="product-details" class="container mt-5">
        <div class="page">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img :src="product.img" class="img-fluid" alt="商品圖片">

                    <p>價格：${{ product.price }}</p>
                    <p>分類：{{ product.category }}</p>
                </div>


                <div class="col-md-6 col-sm-12">

                    <h1>{{ product.text }}</h1>
                </div>
                <div class="col-6">
                    <a href="index.html" class="btn btn-secondary">返回</a>
                </div>


            </div>


        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <p>Copyright: 2011. Flash Templates </p>
        <p>Privacy Policy | Terms of Use | XHTML | CSS</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>
    <!--檔名-->
    <script src="js/bs5vue1.js"></script>
</body>

</html>